.card-container {
    transition-duration: 1s;
    width: auto;
    height: auto;
    max-width: 800px;
    border-radius: 10px;
    background: #e55d87; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e55d87, #5fc3e4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e55d87, #5fc3e4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.card-container:hover {
    transition-duration: 1.8s;
    transform: skew(5deg);
}

.card {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}