.bg {
    background: #e55d87; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e55d87, #5fc3e4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e55d87, #5fc3e4);
}